**This is a markdown cell**

![image](lewagon.png)

In [ ]:
!ls

# Data Analytics Lecture

## Jupyter Notebooks 101

## Markdown
### Sub-subtitle

This is a plain text
**bold**
*italic*
- a
- b
- c

<button> Test </button>

## Code

In [ ]:
2 + 2

In [ ]:
print('Hello World')

In [ ]:
a = 123

## Numpy

In [ ]:
import numpy as np # Canonical import

In [ ]:
l = [[1,2,3], [4,5,6]]
print(type(l))
l # list of list

In [ ]:
A = np.array(l) 
print(type(A))
A # ndarray

### Array Attributes

In [ ]:
A.shape

In [ ]:
A.dtype

In [ ]:
A.ndim

In [ ]:
A.size

### Data selection ðŸ˜Ž

In [ ]:
# lets build a 2D array from a list of list
data_list = [
    [ 0,  1,  2,  3,  4],
    [10, 11, 12, 13, 14],
    [20, 21, 22, 23, 24],
    [30, 31, 32, 33, 34],
    [40, 41, 42, 43, 44],
]

data_np = np.array(data_list)
data_np

In [ ]:
# Pure python
data_list[2][1:4]

In [ ]:
# NumPy
data_np[2, 1:4] # data_np[row(s), column(s)]

In [ ]:
# Pure python
selection = []
for index, row in enumerate(data_list):
    if index > 0:
        selection.append(row[4])
selection # We could also have used a list comprehension for less lines

In [ ]:
# NumPy
data_np[1:, 4] # `1:` means from line 1 until the end.

In [ ]:
A = np.arange(0, 10)
A

In [ ]:
A[1:7:2]

### Vectorized operations âš¡ï¸

In [ ]:
my_list = [
    [6, 5],
    [1, 3],
    [5, 6],
    [1, 4],
    [3, 7],
    [5, 8],
    [3, 5],
    [8, 4],
]

In [ ]:
# Python way
sums = []
for row in my_list:
    sums.append(row[0] + row[1]) # standard integer "+" operator
sums

In [ ]:
A = np.array(my_list)
my_sum = A[:,0] + A[:,1] # Vectorial "+" operator
my_sum

In [ ]:
np.sum(A, axis=0)  # eq. to A[0,:] + A[1,:] + A[2,:] + ...

In [ ]:
np.sum(A, axis=1)  # eq. to A[:,0] + A[:,1] + A[:,2] + ...

### How much faster is NumPy? âš¡ï¸

In [ ]:
# 2D ndarray of shape (10000, 10000) with random float in [0, 1] interval. That's 100M numbers!
A = np.random.rand(10000, 10000)
a = A.tolist()

In [ ]:
%%time
total = 0
for row in a:
    for n in row:
        total += n
round(total, 2)

In [ ]:
%%time
round(np.sum(A), 2)

### Boolean Indexing  ðŸ”¥

In [ ]:
A = np.array(my_list)
A

In [ ]:
A > 4

In [ ]:
A[A > 4]

In [ ]:
A[A > 4] = 100

In [ ]:
A

## Pandas

In [ ]:
import pandas as pd # canonical import

### Pandas Series

In [ ]:
#s = pd.Series(data=[1,2,'three'], index=['id1', 'id2', 'id3']) # one way to create a Pandas Series
s = pd.Series({'id1': 1, 'id2': 2, 'id3': 'three'}) # another way to create the same series
s

### Pandas DataFrames

In [ ]:
df = pd.DataFrame(
    [[4, 7, 10],
     [5, 8, 11],
     [6, 9, 12]],
    index=['row_1', 'row_2', 'row_3'],
    columns=["col_a", "col_b", "col_c"]
)
df

In [ ]:
apples  = pd.Series(data=[1, 2, 3], index=["id1", "id2", "id3"])
oranges = pd.Series(data=[4, 5, 6], index=["id1", "id2", "id3"])
d = {
    "apples": apples,
    "oranges": oranges,
}

In [ ]:
apples

In [ ]:
oranges

In [ ]:
pd.DataFrame(d)

### Reading (loading) the Data

In [ ]:
countries_df = pd.read_csv('countries.csv', decimal=',')

### Exploring the Data

In [ ]:
countries_df

In [ ]:
countries_df.shape

In [ ]:
countries_df.dtypes

In [ ]:
countries_df.info()

In [ ]:
countries_df.describe()

In [ ]:
countries_df.isnull().sum()

In [ ]:
countries_df.head()

In [ ]:
countries_df.tail(3)

In [ ]:
countries_df['Country']

In [ ]:
type(countries_df['Country'])

In [ ]:
countries_df[['Country']]

In [ ]:
type(countries_df[['Country']])

In [ ]:
countries_df[['Country', 'Population']]

In [ ]:
countries_df.loc[0:3, ["Country", "Region"]] # From row index 0 to 5 (included)

### Boolean Indexing

ðŸ¤” What are the countries with more than one billion inhabitants?

In [ ]:
big_countries = []
for index, country in countries_df.iterrows():
    if country['Population'] >= 1_000_000_000:
        big_countries.append(country)
pd.DataFrame(big_countries)

In [ ]:
countries_df[(countries_df["Population"] >= 1_000_000_000) & (countries_df['Climate'] > 2)]

ðŸ¤” What are the countries of the American continent?

In [ ]:
american = countries_df['Region'].str.contains('AMER')
countries_df[american]

ðŸ¤” What are the countries of Europe?

In [ ]:
countries_df[countries_df["Region"].isin(["WESTERN EUROPE", "EASTERN EUROPE"])]

In [ ]:
countries_df["Region"].unique()

In [ ]:
countries_df["Region"] = countries_df["Region"].str.strip()

In [ ]:
countries_df["Region"].unique()

In [ ]:
countries_df[countries_df["Region"].isin(["WESTERN EUROPE", "EASTERN EUROPE"])]

**NOT** operator: *~*

In [ ]:
countries_df[~countries_df["Region"].isin(["WESTERN EUROPE", "EASTERN EUROPE"])]

## Pandas - Re-indexing

In [ ]:
countries_df['Country'] = countries_df['Country'].map(str.strip)
countries_df.set_index('Country', inplace=True)

In [ ]:
countries_df.head()

In [ ]:
countries_df.loc['France':'Germany', ['Region', 'Population']]

### Sorting

In [ ]:
countries_df.sort_index(ascending=False)

In [ ]:
countries_df.sort_values(by='Population', ascending=False)

In [ ]:
countries_df.sort_values(by='GDP ($ per capita)', na_position='first')

### Pandas - Grouping

ðŸ¤” Which region of the world is the most populated?

In [ ]:
regions = countries_df.groupby('Region')
regions

In [ ]:
regions.sum()

In [ ]:
regions[['Population', 'Area (sq. mi.)']].sum().sort_values('Population', ascending=False)

### Plotting some graphs

In [ ]:
gdp = 'GDP ($ per capita)'
top_ten_countries_df = countries_df[[gdp]] \
    .sort_values(gdp, ascending=False) \
    .head(10)

top_ten_countries_df

In [ ]:
top_ten_countries_df.plot(kind='bar')