# SQL

In [3]:
import pandas as pd
import sqlite3
conn = sqlite3.connect("data/soccer.sqlite")

In [8]:
league_df = pd.read_sql(
    '''
    SELECT l.id, l.name, c.name as country_name
    FROM League l
    JOIN Country c ON c.id = l.country_id
    ''', conn)

In [9]:
league_df

       id                      name country_name
0       1    Belgium Jupiler League      Belgium
1    1729    England Premier League      England
2    4769            France Ligue 1       France
3    7809     Germany 1. Bundesliga      Germany
4   10257             Italy Serie A        Italy
5   13274    Netherlands Eredivisie  Netherlands
6   15722        Poland Ekstraklasa       Poland
7   17642  Portugal Liga ZON Sagres     Portugal
8   19694   Scotland Premier League     Scotland
9   21518           Spain LIGA BBVA        Spain
10  24558  Switzerland Super League  Switzerland

# Google Big Query

In [10]:
import pandas_gbq

In [12]:
project_id = 'le-wagon-bootcamp-328017' # TODO: replace with your own!

sql = """
SELECT faa_identifier, name, longitude, latitude, airport_type, service_city, country
FROM `bigquery-public-data.faa.us_airports`
WHERE airport_use = 'Public'
"""
airports_df = pandas_gbq.read_gbq(sql, project_id=project_id)

Downloading: 100%|██████████████████████████████████████████████████████████████| 5368/5368 [00:01<00:00, 3874.59rows/s]

In [13]:
airports_df

,faa_identifier,name,longitude,latitude,airport_type,service_city,country
0,X01,Everglades Arpk,-81.390281,25.848866,Aerodome,Everglades,United States
1,0C8,Cushing Fld Ltd,-88.605635,41.519483,Aerodome,Newark,United States
2,7L8,Post-Air,-86.013876,39.750050,Aerodome,Indianapolis,United States
3,71K,Westport,-97.383702,37.647701,Aerodome,Wichita,United States
4,2M7,Hoffman's Black Mountain Aerodrome,-84.308061,45.531953,Aerodome,Cheboygan,United States
...,...,...,...,...,...,...,...
5363,84C,Valhalla,-88.042590,42.762526,Aerodome,North Cape,United States
5364,Y77,Bayfield Co,-91.458530,46.576338,Aerodome,Iron River,United States
5365,15W,Dennis Farms,-84.392227,42.894425,Aerodome,Laingsburg,United States
5366,E53,Engler Fld,-83.046796,43.846242,Aerodome,Bad Axe,United States
5367,26W,Wolf Lake,-84.231671,42.209730,Aerodome,Napoleon,United States

In [14]:
airports_df.to_csv('airports.csv')